* {
    box-sizing: border-box;
  }
  
  body {
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .card-table {
    display: table;
    width: 100%;
  }
  
  .card-column {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .card {
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
  }
  
  .card-img-top {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    font-size: 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  
  .btn-primary:focus {
    outline: none;
    box-shadow: none;
  }
  
  td.aviability {
    vertical-align: middle;
    font-size: 24px;
    color: green;
  }
  
  td.out-of-stock {
    vertical-align: middle;
    font-size: 24px;
    color: red;
  }
  
  .btn-primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .h2 {
    text-align: center;
    color: #1a1d5b;
    font-weight: 700;
    font-size: 64px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  